* {
  box-sizing: border-box;
}

html, body {
  display: flexbox;
  margin: 0;
  min-height: 100vh;
}

#Image1 {
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}

#Title {
  color: gray;
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 3px 3px 5px gray;
}

@media screen and (max-width: 600px) {
  #Title {
    color: gray;
    position: absolute;
    top: 7%;
    left: 10%;
    font-size: 20px;
    text-shadow: 3px 3px 5px gray;
  }
}

#Main-section {
  position: absolute;
  top: 25%;
  left: 15%;
  background-color: white;
  width:70%;
  height: 400px;
}

@media screen and (max-width: 600px) {
  #Main-section {
    position: absolute;
    top: 25%;
    left: 10%;
    background-color: white;
    width:80%;
    height: 50%;
  }
}

#Down-section {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20%;
  background-color: #F8F8FF;

}

hr {
  opacity: 0.3;
  width: 80%;
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 600px) {
  hr {
    opacity: 0.3;
    width: 80%;
    margin: 25px auto 0 auto;
  }
}

.text {
  color: #696969;
}

#Main-text {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #Main-text {
    font-size: 17px;
  }
}

#Section-2 {
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  #Section-2 {
    margin-left: 35px;
  }
}

.txt {
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .txt {
    font-size: 14px;
  }
}

.fa {
  padding: 10px;
  font-size: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .fa {
    padding: 5px;
    font-size: 8px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin-top: 7%;
    margin-left: 1%;
    border-radius: 50%;
  }
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 27px;
  }
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #1E90FF;
  color: white;
}

.sm:hover {
  opacity: 0.5;
}

#Formations-section {
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
  background-color: #F8F8FF;
}

#Formations-title {
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #Formations-title {
    font-size: 20px;
  }
}

#Container, #Container1 {
  display: flex;
  width: 100%;
}

#l1, #l2, #l3, #C, #P {
  color: gray;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 3% 5%;
  width: 25%;
  height: 10%;
}

@media screen and (max-width: 600px) {
  #l1, #l2, #l3, #C, #P {
    font-size: 12px;
  }
}

.fl1, .fl2, .fl3 {
  font-size: 18px;
  border-top: 1px solid gray;
  height: 40px;
  margin-top: 7%;
  background-color: white;
  border: 0.3px solid #F5F5F5;
  padding-top: 2%;
  box-shadow: 1px 1px 7px black;
}

@media screen and (max-width: 600px) {
  .fl1, .fl2, .fl3 {
    border-top: 1px solid gray;
    height: 40px;
    padding-top: 5%;
    font-size: 12px;
  }
}

.f-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 600px) {
  .f-title {
    font-size: 12px;
  }
}
